name: DB12 testing

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 2.7]
        
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      
    - name: Add conda to system path
      run: |
        echo $CONDA/bin >> $GITHUB_PATH
        
    - name: Set up Conda and Install dependencies
      run: |
        conda create -c conda-forge -c free -n python python=${{ matrix.python-version }}
        conda info --env
        source /usr/share/miniconda/etc/profile.d/conda.sh
        conda activate python
        pip install pytest
        pip install future
        pip install pylint
        
    - name: Pylint
      run: |
        source /usr/share/miniconda/etc/profile.d/conda.sh
        conda activate python
        pylint test.py --max-statements=100 --exit-zero
        pylint DIRACbenchmark.py --exit-zero
        
    - name: Test with pytest
      run: |
        source /usr/share/miniconda/etc/profile.d/conda.sh
        conda activate python
        pytest test.py
